<extend name="Base/base" />

<block name="body">
  <taglib name="Admin" />
  <div class="row">
    <div class="col-md-12">
      <notempty name="error">
        <div class="alert alert-danger alert-dismissible fade in form-alert" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
          <p>{$error}</p>
        </div>
      </notempty>
      <notempty name="success">
        <div class="alert alert-success alert-dismissible fade in form-alert" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
          <p>{$success}</p>
        </div>
      </notempty>
      <h3>编辑投票 [unid: {$vote['unid']}]</h3>
    </div>
    <div class="col-md-6">
      <form id="form" action="__SELF__" method="POST">
        <div class="form-group">
          <label for="title">投票标题</label>
          <input class="form-control" type="text" id="title" name="title" placeholder="请输入投票标题" value="{$post['title']}">
        </div>
        <div class="form-group">
          <label for="summary">说明信息</label>
          <textarea rows="5" name="summary" id="summary" class="form-control" placeholder="请输入调查说明">{$post['summary']}</textarea>
        </div>
        <div class="form-group">
          <label for="help">帮助信息</label>
          <textarea rows="5" name="help" id="help" class="form-control" placeholder="请输入帮助信息">{$post['help']}</textarea>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="start-time">开始时间</label>
              <input id="start-time" type="text" name="start_time" class="form-control" value="{$post['start_time']->format('Y-m-d')}">
            </div>
            <div class="col-md-4">
              <label for="end-time">结束时间</label>
              <input id="end-time" type="text" name="end_time" class="form-control" value="{$post['end_time']->format('Y-m-d')}">
            </div>
            <div class="col-md-4">
              <label for="interval">投票间隔</label>
              <admin:select class="form-control" name="interval" id="interval" options="interval_options" value="$post['interval']" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label for="select_max_limits">选择上限</label>
              <input class="form-control" type="number" name="select_max_limits" id="select_max_limits" value="{$post['select_max_limits']}">
            </div>
            <div class="col-sm-3">
              <label for="select_min_limits">选择下限</label>
              <input class="form-control" type="number" name="select_min_limits" id="select_min_limits" value="{$post['select_min_limits']}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="verify">验证方式</label> <span tabindex="0" class="glyphicon glyphicon-info-sign" aria-hidden="true" data-container="body" data-toggle="popover" data-placement="right" data-content="手机验证使用短信验证；微信验证仅能在微信上使用" data-trigger="focus"></span>
              <admin:select name="verify_type" id="verify" class="form-control" options="verify_options" value="$post['verify_type']" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="enable_api">启用API</label> <span tabindex="0" class="glyphicon glyphicon-info-sign" aria-hidden="true" data-container="body" data-toggle="popover" data-placement="right" data-content="启用后，允许不同域名的来源请求" data-trigger="focus"></span>
              <admin:select name="enable_api" id="enable_api" class="form-control" options="enable_api_options" value="$post['enable_api']" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="enable_domains">允许来源域名</label> <span tabindex="0" class="glyphicon glyphicon-info-sign" aria-hidden="true" data-container="body" data-toggle="popover" data-placement="right" data-content="允许的来源域名，不需要http(s)，一行一条" data-trigger="focus"></span>
              <textarea class="form-control" name="enable_domains" id="enable_domains" rows="10">{$post['enable_domains']}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-template">模板选项</label>
                    <div class="input-group">
                        <admin:select name="template_type" class="form-control" options="template_type_options" value="$post['template_type']" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#vote-template">模板编辑器</button>
                        </span>
                    </div>
                    <div class="modal fade" id="vote-template" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">模板编辑器</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12"></div>
                                    </div>
                                    <div class="editor-wrapper"></div>
                                    <button type="button" class="btn btn-warning save-btn">保存</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <admin:grant permit="Vote/create">
          <button class="btn btn-primary">保存</button>
        </admin:grant>
        <a class="btn btn-default" href="javascript:window.history.go(-1)">返回</a>
        <input type="hidden" name="id" value="{$post['id']}">
      </form>
    </div>
  </div>
</block>

<block name="foot_js">
  <script>
    $(function() {
      $('[data-toggle="popover"]').popover();

      var dateFormat = "yy-mm-dd";
      var startTime = $('#start-time').datepicker({
        dateFormat: dateFormat,
        defaultDate: "+1w",
        changeMonth: true,
      }).on('change', function() {
        endTime.datepicker("option", "minDate", getDate(this));
      });
  
      var endTime = $('#end-time').datepicker({
        dateFormat: dateFormat,
        defaultDate: "+1w",
        changeMonth: true
      }).on('change', function() {
        startTime.datepicker("option", "maxDate", getDate(this));
      });
      function getDate(element) {
        var date;
        try {
          date = $.datepicker.parseDate(dateFormat, element.value);
        } catch( error ) {
          date = null;
        }
        return date;
      }

      /* 模板编辑器 */
      (function() {
        var $templateModal = $('#vote-template');
        var $templateSaveBtn = $templateModal.find('.save-btn');
        var saving = false;
        var iframeId = 'editor';
        $templateSaveBtn.on('click', function() {
          if (!saving) {
              var $editorIframe = $('#' + iframeId);
  
              if ($editorIframe.length > 0) {
                  var editorWindow = $editorIframe[0].contentWindow;
  
                  if (editorWindow.getValue !== undefined) {
                      var templateContent = editorWindow.getValue();
                      $templateSaveBtn.attr('disabled', 'disabled');
                      $.ajax({
                          url    : '{:U("Vote/template")}',
                          type   : 'POST',
                          data   : {id: '{$vote["id"]}', template: templateContent},
                          success: function(r) {
                              $templateSaveBtn.removeAttr('disabled');
                              saving = false;
                              if (r.status == 'err') {
                                  alert(r.info);
                              } else {
                                  alert('保存完成');
                                  $('#vote-template').modal('hide');
                              }
                          },
                          error: function() {
                              $templateSaveBtn.removeAttr('disabled');
                              saving = false;
                          }
                      })
                  }
              }
          }
        });
        $templateModal.on('show.bs.modal', function (e) {
          var $modalEditorWrapper = $(e.target).find('.editor-wrapper');
          var $saveBtn = $(e.target).find('.save-btn');
          $modalEditorWrapper.find('iframe').remove();
          $modalEditorWrapper.append('<iframe id="' + iframeId + '" src="{:U("Vote/template", ["id" => $vote["id"]])}" style="border:none;background:#fff;width:100%;height:650px;"></iframe>');
        });
      })();
    });
  </script>
</block>