<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vote Template editor</title>
</head>
<body style="margin:0;padding:0;">
    <div id="template-editor" style="position:absolute;width:100%;height:100%;">{$template|htmlentities}</div>
    <script src="__PUBLIC__/lib/ace-builds/src-min/ace.js"></script>
    <script src="__PUBLIC__/lib/ace-builds/src-min/mode-php.js"></script>
    <script>
    var editor = window.editor = new ace.edit('template-editor');
    editor.session.setMode(new (ace.require('ace/mode/php').Mode)());

    var getValue = window.getValue = function() {
        return editor.getValue();
    }
    </script>
</body>
</html>