<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lite Survey - {$page_title}</title>
  <css href="__PUBLIC__/bootstrap3/css/bootstrap.min.css" />
  <css href="__PUBLIC__/style.css" />
  <js href="__PUBLIC__/jquery-1.12.js" />
  <js href="__PUBLIC__/lib/notify.min.js" />
  <js href="__PUBLIC__/bootstrap3/js/bootstrap.min.js" />
  <js href="__PUBLIC__/survey.js" />
  <block name="head_js"></block>
</head>
<body>
  <div class="container-fluid">
    <block name="body"></block>
  </div>
</body>
<block name="foot_js"></block>
</html>