<extend name="Base/base" />

<block name="body">
  <taglib name="Admin" />
  <div class="row">
    <div class="col-md-12">
      <h3>操作日志</h3>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">日志列表</div>
        <div class="panel-body">
          <table class="table table-bordered nomargin">
            <tr>
              <th>用户名</th>
              <th>操作内容</th>
              <th>操作时间</th>
            </tr>
            <volist name="list" id="log">
              <tr>
                <td>{$log.username}</td>
                <td>{$log.content}</td>
                <td>{$log['create_time']->format('Y-m-d H:i:s')}</td>
              </tr>
            </volist>
          </table>
          <div class="pagenation clear">
            {$page}
          </div>
        </div>
      </div>
    </div>
  </div>
</block>